.hero-container {
	display: block;
	height: 80vh;
	min-height: 640px;
	left: 0;
	margin: 0 0 60px;
	overflow: hidden;
	position: relative;
	//top: @height-nav;
	width: 100%;
}

.hero-image-wrapper {
	height: 80vh;
	left: -50%;
	margin: 0;
	min-height: 640px;
	position: fixed;
	text-align: center;
	top: @height-nav-small;
	width: 200%;

	@media @small {
		position: relative;
		top: 0;
	}
}

.hero-image {
	min-height: 100%;
	min-width: 50%;
}

.title {
	.fontsize(120);
	color: @white;
	font-family: HUGEAvantGardeBold;
	margin: 0;
	left: @gutter;
	letter-spacing: -0.06em;
	padding: 0 @gutter;
	position: absolute;
	right: @gutter;
	top: 34%;
	text-align: center;
	white-space: nowrap;

	@media @small {
		color: black;
		left: auto;
		position: static;
		text-align: left;
		top: auto;
	}
}

.content-wrapper {
	background-color: white;
	padding: 60px @gutter;
	position: relative;
}

.content {
	.center-content ();

	p {
		.fontsize(24);
		color: @black;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

