// Hero image
// ---------------------------------------------
.hero-container {
	display: block;
	height: 80vh;
	min-height: 640px;
	left: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
	width: 100%;

	@media @small {
		margin-bottom: 50px;
	}
}

.hero-image-wrapper {
	height: 80vh;
	left: -50%;
	margin: 0;
	min-height: 640px;
	position: fixed;
	text-align: center;
	top: @nav-height;
	width: 200%;

	@media @small {
		position: relative;
		top: 0;
	}
}

.hero-image {
	min-height: 100%;
	min-width: 50%;
}

// Content
// ---------------------------------------------
.title {
	.fontsize(120);
	color: @white;
	font-family: 'HUGEAvantGardeBold';
	margin: 0;
	left: @gutter;
	letter-spacing: -3px;
	padding: 0 @gutter;
	position: absolute;
	right: @gutter;
	top: 31%;
	text-align: center;
	white-space: nowrap;

	@media @medium {
		.fontsize(110);
	}

	@media @small {
		.fontsize(44);
		color: black;
		margin-bottom: 50px;
		left: auto;
		position: static;
		right: auto;
		text-align: left;
		top: auto;
	}
}

.content-wrapper {
	background-color: white;
	padding: @nav-height-small @gutter;
	position: relative;

	@media @small {
		padding: 0 @gutter-small 50px;
	}
}

.content {
	.center-content ();

	p {
		.fontsize(24);
		color: @black;
		font-family: 'Galaxie';

		&:last-child {
			margin-bottom: 0;
		}
	}
}