// Nav
// ---------------------------------------------
.nav {
	display: inline-block;

	@media @small {
		background-color: #fff;
		display: block;
		height: 100vh;
		left: 0;
		margin-top: 60px;
		position: absolute;
		right: @nav-height;
		top: 0;

		.active & {
			height: auto;
		}
	}
}

// Menu
// ---------------------------------------------
.menu {
	list-style: none;
	margin: 0;
	padding: 0;

	> li {
		display: inline-block;
		position: relative;
		vertical-align: top;
	}

	@media @small {
		padding: @half-gutter 0;

		> li {
			display: block;
		}
	}
}

.menu-item {
	.fontsize(21);
	color: @white;
	display: block;
	font-family: 'HUGEAvantGardeBold';
	line-height: @nav-height;
	height: @nav-height;
	padding: 0 @gutter;
	text-decoration: none;

	&:hover,
	&.active {
		background-color: @white;
		color: @fuchsia;
	}

	&.active {
		+ .submenu {
			display: block;
		}
	}

	@media @medium {
		.fontsize(15);
		padding: 0 18px;
	}

	@media @small {
		color: @black;
		height: @double-gutter;
		line-height: @double-gutter;
		padding: 0 @gutter;
		position: relative;

		&.has-submenu {
			&:after,
			&:before {
				background-color: @fuchsia;
				content: '';
				display: inline-block;
				height: 3px;
				position: absolute;
				top: 23px;
				width: 15px;
			}

			&:before {
				background-image: url('../images/toggle-close.svg');
				right: 30px;
				transform: rotate(45deg);

				.active& {
					right: 21px;
				}
			}

			&:after {
				background-image: url('../images/toggle-open.svg');
				right: 21px;
				transform: rotate(-45deg);

				.active& {
					right: 30px;
				}
			}
		}

	}
}

// Submenu
// ---------------------------------------------
.submenu {
	background-color: @white;
	display: none;
	font-family: 'HUGEAvantGardeBold';
	left: 0;
	list-style: none;
	padding: @half-gutter 0;
	position: absolute;
	top: 100%;

	@media @small {
		padding: 0;
		position: relative;
	}
}

.submenu-item {
	.fontsize(16);
	color: @black;
	display: block;
	font-family: 'Galaxie';
	height: @double-gutter;
	line-height: @double-gutter;
	padding: 0 @gutter;
	text-decoration: none;
	white-space: nowrap;

	&:hover {
		background-color: @grey-light;
		color: @fuchsia;
	}
}