.nav {
	display: inline-block;

	@media @small {
		background-color: #fff;
		display: block;
		height: 100vh;
		left: 0;
		margin-top: 60px;
		position: absolute;
		right: @triple-gutter;
		top: 0;

		.active-nav & {
			height: auto;
		}
	}
}

.menu {
	list-style: none;
	margin: 0;
	padding: 0;

	> li {
		display: inline-block;
		position: relative;
		vertical-align: top;

		@media @small {
			display: block;
		}
	}
}

.menu-item {
	.fontsize(21);
	color: @white;
	display: block;
	line-height: @height-nav;
	height: @height-nav;
	padding: 0 @gutter;
	text-decoration: none;

	@media @header-fix {
		.fontsize(15);
	}

	@media @small {
		color: @black;
		position: relative;

		&.has-submenu {
			&:after,
			&:before {
				background-color: @fuchsia;
				content: '';
				display: inline-block;
				height: 3px;
				position: absolute;
				top: 35px;
				width: 15px;
			}

			&:before {
				background-image: url('../images/toggle-close.svg');
				right: 30px;
				transform: rotate(45deg);

				.active& {
					right: 21px;
				}
			}

			&:after {
				background-image: url('../images/toggle-open.svg');
				right: 21px;
				transform: rotate(-45deg);

				.active& {
					right: 30px;
				}
			}
		}

	}

	&:hover,
	&.active {
		background-color: @white;
		color: @fuchsia;
	}

	&.active {
		+ .submenu {
			display: block;
		}
	}



	@media @small {
		color: @black;
		position: relative;
	}
}

.submenu {
	background-color: @white;
	display: none;
	left: 0;
	list-style: none;
	padding: 0;
	position: absolute;
	top: 100%;

	@media @small {
		position: relative;
	}
}

.submenu-item {
	color: @black;
	display: block;
	height: @double-gutter;
	line-height: @double-gutter;
	padding: 0 @gutter;
	text-decoration: none;
	white-space: nowrap;

	&:hover {
		background-color: @grey-light;
		color: @fuchsia;
	}
}
