// Global values
// --------------------------------------------------

@fuchsia: #ec008c;
@white: #fff;
@black: #000;
@light: #eee;
@transparency: rgba(0, 0, 0, 0.5);

// Fonts
@font-base: 16px;

// Measures
@gutter: 24px;
@double-gutter: unit(@gutter*2, px);
@half-gutter: unit(@gutter/2, px);

@height-nav: unit(@gutter*3, px);